{% case currency_iso %}

  {% when 'AU' %}
  {% capture currency_flag %}d4e9cde3edb3e1732ec50170e158d750.svg{% endcapture %}
  {% when 'AL' %}
  {% capture currency_flag %}f6a0535cd8609315b23f549883d787dd.svg{% endcapture %}
  {% when 'AR' %}
  {% capture currency_flag %}90d588cd43b6dfc818a0ae8cad95f3bc.svg{% endcapture %}
  {% when 'AT' %}
  {% capture currency_flag %}dba77f84783603578980c0ae9801d617e27ff9acca6c45be81264a6b1d7df8b6.svg{% endcapture %}
  {% when 'AW' %}
  {% capture currency_flag %}bd387d78a493236aeb8fbe6cd27e0216.svg{% endcapture %}
  {% when 'AN' %}
  {% capture currency_flag %}24b938cacb711342635263c32067419d.svg{% endcapture %}
  {% when 'AD' %}
  {% capture currency_flag %}9b203859222508a5808fbf43f44e0812676dcb85cbbd622f284f90a3c8474211.svg{% endcapture %}
  {% when 'AE' %}
  {% capture currency_flag %}62a4257f72ece1437bc8eb7f0535327b.svg{% endcapture %}
  {% when 'AF' %}
  {% capture currency_flag %}280ddfeb0fbeea88df7700ca4e9aa83b.svg{% endcapture %}
  {% when 'AG' %}
  {% capture currency_flag %}3adee8ac96b2ce5ef3398b3efae91a4d6462c90c434aa590a1ec8efaa1a1bb6c.svg{% endcapture %}
  {% when 'AI' %}
  {% capture currency_flag %}bdea9cf33394beea9912609c85ae10f2151d390f6aa588b96546039446c0b6c6.svg{% endcapture %}
  {% when 'AO' %}
  {% capture currency_flag %}f62ddbaeb213dc14772db01e0b47b9c3.svg{% endcapture %}
  {% when 'AM' %}
  {% capture currency_flag %}506654e384fb737c5ba4b163c8e9ccc8.svg{% endcapture %}
  {% when 'AX' %}
    {% capture currency_flag %}d46239a9579497bc01912679a9ec11a38899af9741fbb50f520a1bb0075a4055.svg{% endcapture %}
  {% when 'AZ' %}
  {% capture currency_flag %}53777b986de0cc3fb6e297309d19add8.svg{% endcapture %}
  {% when 'BS' %}
  {% capture currency_flag %}4c98d16787dd4d67ed4e6e870b60ff8e.svg{% endcapture %}
  {% when 'BG' %}
  {% capture currency_flag %}1e109682c7a6302e0d362edc4647c49d.svg{% endcapture %}
  {% when 'BA' %}
  {% capture currency_flag %}1f8230d8d831cb9ef0b1f6e90e894da8.svg{% endcapture %}
  {% when 'BD' %}
  {% capture currency_flag %}f9381453ad0176558990c513e7ec68a7.svg{% endcapture %}
  {% when 'BB' %}
  {% capture currency_flag %}e65b8f27c6a92b4bd87dbefeeaa58528.svg{% endcapture %}
  {% when 'BZ' %}
  {% capture currency_flag %}dc51b20172b928abe0f175e1d41e86f3.svg{% endcapture %}
  {% when 'BM' %}
  {% capture currency_flag %}074a1bf6ce7cef639abb353f4b7ccd31.svg{% endcapture %}
  {% when 'BO' %}
  {% capture currency_flag %}296613d32804850e80e3ad0fb7a34a00.svg{% endcapture %}
  {% when 'BW' %}
  {% capture currency_flag %}5160e380e7d9d4df7858900eb2d90b4a.svg{% endcapture %}
  {% when 'BR' %}
  {% capture currency_flag %}190073fb7652e7c635a1b91af0286b3c.svg{% endcapture %}
  {% when 'BN' %}
  {% capture currency_flag %}f5ab6fb24e5ab6e6dcdc64e088403b25.svg{% endcapture %}
  {% when 'BI' %}
  {% capture currency_flag %}6425a017e2fdfd5ee4a09ab5af0cd072.svg{% endcapture %}
  {% when 'BH' %}
    {% capture currency_flag %}4e8593c4afd50c84f5eeec45b4cd066fd4c93447f0346b300b9c57c028961724.svg{% endcapture %}
  {% when 'BY' %}
    {% capture currency_flag %}bdf871401d4ab7ef2781e80954d67d108f7756b0d89ce2acfc216d4ae2c20d6b.svg{% endcapture %}
  {% when 'BE' %}
    {% capture currency_flag %}806dd1aa913ace4035ededeac4c1708e323909c7bf213b6b3e4245109aa8ba02.svg{% endcapture %}
  {% when 'BJ' %}
    {% capture currency_flag %}6a2811523006a49b45b675777d43dba45e925136493ee3a03391a56a97fe9b8e.svg{% endcapture %}
  {% when 'BT' %}
    {% capture currency_flag %}2268a30a79e240aff419159cdd73e7b2098b36bcffbfd69ee03a17efaa8221be.svg{% endcapture %}
  {% when 'BF' %}
    {% capture currency_flag %}272eefb8a8a56e05fd30ff2cfe687beb1fb2c6f30711e69df72f797ebc364e87.svg{% endcapture %}
  {% when 'BQ' %}
    {% capture currency_flag %}a31b3f056508b2cc92348384b059e973ed934eb471064d7e98e95856a05c7f75.svg{% endcapture %}
  {% when 'BL' %}
    {% capture currency_flag %}53a8a7d8c53d71036c24aebb45e0192f98cad78b4ea3cfdeb695bd2f9bf2b7f5.svg{% endcapture %}
  {% when 'CA' %}
  {% capture currency_flag %}422898ab4299eb270f856e6c1b8d2250.svg{% endcapture %}
  {% when 'CD' %}
  {% capture currency_flag %}fbac05418dca57fe13428950e47b1ad5.svg{% endcapture %}
  {% when 'CV' %}
  {% capture currency_flag %}f34347e8ae18ea501ca37ebf9a4ac18c.svg{% endcapture %}
  {% when 'CL' %}
  {% capture currency_flag %}83c1742747147d77ac6b78f51b5fdb73.svg{% endcapture %}
  {% when 'CN' %}
  {% capture currency_flag %}281afcbf105b6242112be9f146a87a6b.svg{% endcapture %}
  {% when 'CO' %}
  {% capture currency_flag %}8b1d284b99f86b267fa8eae7f6613487.svg{% endcapture %}
  {% when 'CR' %}
  {% capture currency_flag %}90922bd6e1209322cd522b520d409857.svg{% endcapture %}
  {% when 'CZ' %}
  {% capture currency_flag %}5fdc4c9a711d951f5347e98d765a2e55.svg{% endcapture %}
  {% when 'CH' %}
  {% capture currency_flag %}a5d4c82835e435ecff150a9a3426fed2.svg{% endcapture %}
  {% when 'CM' %}
    {% capture currency_flag %}c92fdfff02e4be7851e32b5420ad7b32d81bae08bfce50861e0c969ef75e27b8.svg{% endcapture %}
  {% when 'CF' %}
    {% capture currency_flag %}e35073f7106e10139e67824bbc85e8f520345949966269d03b6912f9d16c9e46.svg{% endcapture %}
  {% when 'CX' %}
    {% capture currency_flag %}9eff36ac6f38d1c828c2f7e181bc04433478b5a15dc01cb776b95be3d4af3b7b.svg{% endcapture %}
  {% when 'CC' %}
    {% capture currency_flag %}ea94e04b72408bbbd33b25c4738d98b1dc3b93b49af5e7c016d3468b076fd22f.svg{% endcapture %}
  {% when 'CG' %}
    {% capture currency_flag %}2b740c3fdc86df76a4f4ead09ccc6664e0163137207bbb61e7b57e0d4c9be547.svg{% endcapture %}
  {% when 'CK' %}
    {% capture currency_flag %}cadf6b710e1a5eef06c992b5e55cc9a535293758962a00ec3f9bd02957e92662.svg{% endcapture %}
  {% when 'CI' %}
    {% capture currency_flag %}03c70c3f8d18a25facb7c9db9704b9318bd388453bd3b5fc68e8e11a708e978f.svg{% endcapture %}
  {% when 'CW' %}
    {% capture currency_flag %}da1b1ba84a00fbd98e657f06943e7022e7912a1ba32b44e5cdb1c70ac1edf1d1.svg{% endcapture %}
  {% when 'CY' %}
    {% capture currency_flag %}984a5f0b25c89eb9a6cc14600d1527c7a9d0e186edde5af5f5d45ced2a669dbb.svg{% endcapture %}
  {% when 'DK' %}
  {% capture currency_flag %}e60c493fdbe69069d943ecc37287aa90.svg{% endcapture %}
  {% when 'DZ' %}
  {% capture currency_flag %}6e7d8d9c5b0eca4d148e07f9186e84d5.svg{% endcapture %}
  {% when 'DJ' %}
  {% capture currency_flag %}c6c3e321f49af43dcbab796f19dd7b3d.svg{% endcapture %}
  {% when 'DO' %}
  {% capture currency_flag %}2b212e08a5e81d53eeee9b925e1f531f.svg{% endcapture %}
  {% when 'DM' %}
    {% capture currency_flag %}945d29e1ae7ead952f106619fe543324ee65cf7907c8aa845627f2eafbe37fcd.svg{% endcapture %}
  {% when 'DE' %}
    {% capture currency_flag %}cb66769cd2af2a363f35a0f1da6c7a5c584c35a6391f2dd4878c6f9005f3ecb6.svg{% endcapture %}
  {% when 'EG' %}
  {% capture currency_flag %}92bcdd48008c89485b416e95a6d616bc.svg{% endcapture %}
  {% when 'EU' %}
  {% capture currency_flag %}9886b4168efb1ebf48006093aa9807c5.svg{% endcapture %}
  {% when 'ET' %}
  {% capture currency_flag %}33cb7ef974be609673f80c45864b513b.svg{% endcapture %}
  {% when 'EC' %}
    {% capture currency_flag %}0bc301a557efa96027a9f7546c7e68712ed5943a9fe18620b4e052e54232c743.svg{% endcapture %}
  {% when 'ER' %}
    {% capture currency_flag %}3dbd3d0e02d578392cb9785eb96eb7a96d8dbc424dd155edb56505b3dc13f372.svg{% endcapture %}
  {% when 'EE' %}
    {% capture currency_flag %}cf276fa448f6bc2db954c646d66ad95094b3196c1ba3eb4c2cf4de9a5fec8440.svg{% endcapture %}
  {% when 'ES' %}
    {% capture currency_flag %}30eeb9b4e310d5aa384ba9d1dfe315915118253da2c98dec6366de0a45bd9836.svg{% endcapture %}
  {% when 'EH' %}
    {% capture currency_flag %}762c75fd68c04db5a6ac0557e61767118f98af3f82b8e4810e369994f1f53dbf.svg{% endcapture %}
  {% when 'FK' %}
  {% capture currency_flag %}09a222580d2c6d5501747a9bc111d01c.svg{% endcapture %}
  {% when 'FJ' %}
  {% capture currency_flag %}b847339090ff60c1426723664bf715b7.svg{% endcapture %}
  {% when 'FO' %}
    {% capture currency_flag %}ba7ea8e10960ce78eb1a627faba52b8efcdd937bcf83acfb35f54635d79639c3.svg{% endcapture %}
  {% when 'FI' %}
    {% capture currency_flag %}8c4f1b318e181809c96b510c9d4c27b0b0146e9e01b2a0914c5bf374d11e2886.svg{% endcapture %}
  {% when 'FR' %}
    {% capture currency_flag %}10d09cbc2a8b2219da141bbacc940ec8f45a55b36b0dd8f92d07c6c93331f85f.svg{% endcapture %}
  {% when 'GB' %}
  {% capture currency_flag %}f9bbc4885a348eff84e4ef4155121fae.svg{% endcapture %}
  {% when 'GE' %}
  {% capture currency_flag %}6b3677f69bfc71660f8bb52b2130d36b.svg{% endcapture %}
  {% when 'GM' %}
  {% capture currency_flag %}422a5de9034890f6fe86920d2bc3febd.svg{% endcapture %}
  {% when 'GI' %}
  {% capture currency_flag %}dde11cba29139f1d16f7a4102a983a1f.svg{% endcapture %}
  {% when 'GT' %}
  {% capture currency_flag %}f93fee732ee3b3f87481d7b69aead66e.svg{% endcapture %}
  {% when 'GN' %}
  {% capture currency_flag %}ddf016595e291fab7729290131de5c99.svg{% endcapture %}
  {% when 'GY' %}
  {% capture currency_flag %}75166e67d85de6d58755bcfcd11d8537.svg{% endcapture %}
  {% when 'GQ' %}
    {% capture currency_flag %}5ac69f5c6f4a9aad53a7f05c075f420982ba161fcf8a8f1e511ffea7cbf3335f.svg{% endcapture %}
  {% when 'GF' %}
    {% capture currency_flag %}9aa1f9f96f5d5db2495be77d95b302e987b166684a9f749075847ead384e0d32.svg{% endcapture %}
  {% when 'GA' %}
    {% capture currency_flag %}4c7cdf1af94111f99e53c48e3af3326180a9a03b71d032f683bfdd74d116a066.svg{% endcapture %}
  {% when 'GH' %}
    {% capture currency_flag %}26e1d64f33116a3bc58815b77674b8f10d3341a47849fba9df39918d5cfcdb4f.svg{% endcapture %}
  {% when 'GR' %}
    {% capture currency_flag %}8df55bbaf97f7ec255c4edd00172fa549fda7c6b0f805a3f5bfda56244e4064d.svg{% endcapture %}
  {% when 'GL' %}
    {% capture currency_flag %}95144c3e191cd567fee82bf0f223f4f5729a2b7a9d9115ab713411c61fb59a12.svg{% endcapture %}
  {% when 'GD' %}
    {% capture currency_flag %}c74438ca6a721966ede85736e99f5a6b3bbb3430df3cf8d013a4ff4d9b11e615.svg{% endcapture %}
  {% when 'GP' %}
    {% capture currency_flag %}10d09cbc2a8b2219da141bbacc940ec8f45a55b36b0dd8f92d07c6c93331f85f.svg{% endcapture %}
  {% when 'GG' %}
    {% capture currency_flag %}d220e8bbcdb7910804b39fcca1e57a02612bc5a53db1bed92c825393351469cd.svg{% endcapture %}
  {% when 'GW' %}
    {% capture currency_flag %}bf24268a9ccecb7367364112b2f0bb91018b2645c115f505fd8c213b2e8ed169.svg{% endcapture %}
  {% when 'GS' %}
    {% capture currency_flag %}a5c8c73abdcc7704e635834eea2fda196f65c172907d0ef9eae567da6d185ddf.svg{% endcapture %}
  {% when 'HK' %}
  {% capture currency_flag %}d242bcbc3c871d94219f0b46ce803944.svg{% endcapture %}
  {% when 'HR' %}
  {% capture currency_flag %}d41387e593053dbeae44b77f4e6ebcf1.svg{% endcapture %}
  {% when 'HT' %}
  {% capture currency_flag %}0f15695989d9a66f76d635d9aec28821.svg{% endcapture %}
  {% when 'HN' %}
  {% capture currency_flag %}2f42eb27f2f7f81af3c06dab743c146c.svg{% endcapture %}
  {% when 'HU' %}
  {% capture currency_flag %}56dba8dc8a7264257bade9d59affe875.svg{% endcapture %}
  {% when 'IS' %}
  {% capture currency_flag %}a4b5f9f58b38d8787ef574204478a48a.svg{% endcapture %}
  {% when 'IN' %}
  {% capture currency_flag %}d17921a22d353f6f811236f13752cb4a.svg{% endcapture %}
  {% when 'ID' %}
  {% capture currency_flag %}3711e166439fcda6921ce14331255b65.svg{% endcapture %}
  {% when 'IL' %}
  {% capture currency_flag %}8c80e5f095e3f7b74e9ed91299556f54.svg{% endcapture %}
  {% when 'IO' %}
    {% capture currency_flag %}f5f0dddeb4299e435ccb00ba8144a3fec0aa53130ab48ed7906d6a610c1c280f.svg{% endcapture %}
  {% when 'IQ' %}
    {% capture currency_flag %}2fc377138af11be17c6f5e45da8dd971b237fab2bc7f273a01d5609796b66369.svg{% endcapture %}
  {% when 'IE' %}
    {% capture currency_flag %}8147f9c27f0e03a7873cd3183607439337bc9b49b8d2578c3819df5cd76bf02e.svg{% endcapture %}
  {% when 'IM' %}
    {% capture currency_flag %}a90c4c787656aedc9eba7d6c5ec6038f263a80b6f863e26ea15d251439b934c2.svg{% endcapture %}
  {% when 'IT' %}
    {% capture currency_flag %}df6faa9601d03e30d30e9a0e630d0286bcdc4306a0570f217034077e7f5875f8.svg{% endcapture %}
  {% when 'JP' %}
  {% capture currency_flag %}a8e1297612e97e291633b038e0f94ec9.svg{% endcapture %}
  {% when 'JM' %}
  {% capture currency_flag %}8edfaf3340cf00ed98bd0043da10d030.svg{% endcapture %}
  {% when 'JE' %}
    {% capture currency_flag %}2a14833892a99848df9ca86a8bb4561193da4dc0103b920028ca331b11a92ef8.svg{% endcapture %}
  {% when 'JO' %}
    {% capture currency_flag %}405c76786725ea6c5c0dbea5b876b02b2766a6f48705c79f7a81657b28c6771a.svg{% endcapture %}
  {% when 'KH' %}
  {% capture currency_flag %}d0a1529a2bc836eca5c9348568da8e10.svg{% endcapture %}
  {% when 'KG' %}
  {% capture currency_flag %}1c300d1965daa9bbc9e1f257aad2c49a.svg{% endcapture %}
  {% when 'KM' %}
  {% capture currency_flag %}48086c50e8c489e7f5034b5ad49c99de.svg{% endcapture %}
  {% when 'KY' %}
  {% capture currency_flag %}8d46a2b23b43a901287a73c6a6e857a6.svg{% endcapture %}
  {% when 'KZ' %}
  {% capture currency_flag %}f32329cf10747a10595a60a3a47d6aa5.svg{% endcapture %}
  {% when 'KE' %}
  {% capture currency_flag %}eaf171e1372159cba8b6b7d3e02d0ca1.svg{% endcapture %}
  {% when 'KR' %}
  {% capture currency_flag %}107e3a39770bdb42b58f2a1ad58d6fc3.svg{% endcapture %}
  {% when 'KI' %}
    {% capture currency_flag %}3a98a7349bebe1155a4ec29aecf9cb889ecce980b9d29b602b85e272bdb0922e.svg{% endcapture %}
  {% when 'KW' %}
    {% capture currency_flag %}12b68de9c29ff5e79c9e92c8a31f21de9654122dff304fe90c07c797f994dcd8.svg{% endcapture %}
  {% when 'KN' %}
    {% capture currency_flag %}0b3ef5aea46903894f827ac54527361ef92dea7b11a3c2cc25cb83a0ff0224bd.svg{% endcapture %}
  {% when 'LA' %}
  {% capture currency_flag %}357684c6d329d32ee1078f624fc21ec8.svg{% endcapture %}
  {% when 'LS' %}
  {% capture currency_flag %}5ab82d978aa777c57af09c96706ecad4.svg{% endcapture %}
  {% when 'LB' %}
  {% capture currency_flag %}2cb066af5c3e2fac28adc32364948524.svg{% endcapture %}
  {% when 'LR' %}
  {% capture currency_flag %}553261ea1c9e482e552f6e083cc96335.svg{% endcapture %}
  {% when 'LK' %}
  {% capture currency_flag %}bbb62626aa2cfce592408c9ec8c94028.svg{% endcapture %}
  {% when 'LV' %}
    {% capture currency_flag %}b4dedfbd55b8f448602419e83c40ed6e3ac1cc9752c62b7905ac9800cee715af.svg{% endcapture %}
  {% when 'LY' %}
    {% capture currency_flag %}3de463fa8f7de627b85cba38c090a0e69d1ae88fcb62b78e162842d84ac4c273.svg{% endcapture %}
  {% when 'LI' %}
    {% capture currency_flag %}4e837c38869e02349131ac86431571d85ba4f5421dfcbda4baaf61149b34730e.svg{% endcapture %}
  {% when 'LT' %}
    {% capture currency_flag %}7e19f8f51065107f5f9cb2b71e74617a4b158ed990f22a5b66bd1c663454c9f8.svg{% endcapture %}
  {% when 'LU' %}
    {% capture currency_flag %}a71df8b19ddbb2961172c98762fd06c1046b3cad36b63dd45436a2896b0067cf.svg{% endcapture %}
  {% when 'LC' %}
    {% capture currency_flag %}7727217787614485ee6ae997370ccda6c4ac1b2cd5cd2aaf376a82e8a40020c5.svg{% endcapture %}
  {% when 'MA' %}
  {% capture currency_flag %}9f17079348e58e33612ae8fee54219e1.svg{% endcapture %}
  {% when 'MO' %}
  {% capture currency_flag %}0a2a3be43fdbebfdc2715b277a830622.svg{% endcapture %}
  {% when 'MK' %}
  {% capture currency_flag %}57947a8cb6d008d82ad29473db1c15fd.svg{% endcapture %}
  {% when 'MW' %}
  {% capture currency_flag %}fd4ba8363c61f7c0bdc2f6bdb19ee070.svg{% endcapture %}
  {% when 'MY' %}
  {% capture currency_flag %}f1113b840befbadc67cffa87e1c45ead.svg{% endcapture %}
  {% when 'MV' %}
  {% capture currency_flag %}69f248fbb9c0ac2affe23a4f630f7649.svg{% endcapture %}
  {% when 'MU' %}
  {% capture currency_flag %}5288135dd87d67908f8f6fb2de3459dc.svg{% endcapture %}
  {% when 'MX' %}
  {% capture currency_flag %}2bcda95713919c2134876a7da635da80.svg{% endcapture %}
  {% when 'MD' %}
  {% capture currency_flag %}2ea90210dba8b013e253fe6c4fed8bfe.svg{% endcapture %}
  {% when 'MN' %}
  {% capture currency_flag %}1af575637a50c5aa3abaf0fdd74a5090.svg{% endcapture %}
  {% when 'MZ' %}
  {% capture currency_flag %}7e3070ef814ec2b7e398c4679074a729.svg{% endcapture %}
  {% when 'MM' %}
  {% capture currency_flag %}65145a7d0d4ef0392ecf8e30dfd005cd.svg{% endcapture %}
  {% when 'MG' %}
    {% capture currency_flag %}2b91613e51c09ec0dcd2fa8d3d53cd4140eb1a204676c00cdd5fda1a762363a6.svg{% endcapture %}
  {% when 'ML' %}
    {% capture currency_flag %}ceed9317fbbb708971d76b1f0f5979130ce44f7c99b829dd226c777094c135e5.svg{% endcapture %}
  {% when 'MT' %}
    {% capture currency_flag %}ac16f4d84ddd4178c84c213739d9d44dd8ee4958ed5a74b7e4fdd3f11ad0b00c.svg{% endcapture %}
  {% when 'MQ' %}
    {% capture currency_flag %}29cf42ac8ce58f180821b06aba8015ecd77bcd8a84d7e6f5c4cba71410662ecb.svg{% endcapture %}
  {% when 'MR' %}
    {% capture currency_flag %}0d46f3cd5a62cc7de70f16baecfc231482cbe1d351f08b6a031e3f3006ce8350.svg{% endcapture %}
  {% when 'MC' %}
    {% capture currency_flag %}c11b3585a056936dd491686fd8d89e6b07488a803348fc5875d64d2a89b8ff05.svg{% endcapture %}
  {% when 'ME' %}
    {% capture currency_flag %}fba18f7bd9bb0d1a22ad6bd9b0f4933aab2571c1509344443f97be7ac4f7e471.svg{% endcapture %}
  {% when 'MS' %}
    {% capture currency_flag %}5feae9cac6a2b021e7b8b3ddff6f1a80d0d14a8b84727782aa9697d9f1b0eb1d.svg{% endcapture %}
  {% when 'MF' %}
    {% capture currency_flag %}10d09cbc2a8b2219da141bbacc940ec8f45a55b36b0dd8f92d07c6c93331f85f.svg{% endcapture %}
  {% when 'NA' %}
  {% capture currency_flag %}764e5a9eb64d99f6c42b20ab721a66c5.svg{% endcapture %}
  {% when 'NZ' %}
  {% capture currency_flag %}cacb9f87701ae2707676064d036a97b2.svg{% endcapture %}
  {% when 'NP' %}
  {% capture currency_flag %}46470480131d59e63aa3a370cc3f67fe.svg{% endcapture %}
  {% when 'NI' %}
  {% capture currency_flag %}69bb9d094ac599f2c924bedab7b0a7a2.svg{% endcapture %}
  {% when 'NG' %}
  {% capture currency_flag %}1cbab4a233b45f33f1d7104e406151fb.svg{% endcapture %}
  {% when 'NO' %}
  {% capture currency_flag %}d8dd9ad33e2d0c876096fbdfd87bcf31.svg{% endcapture %}
  {% when 'NR' %}
    {% capture currency_flag %}c5389aa27e6eb410f85e7df792bcdb102809037e187aef389f1a09c680c8ae56.svg{% endcapture %}
  {% when 'NL' %}
    {% capture currency_flag %}1e00d26bd585c1484559fa8676f9b81bce9578ae149b454921f60392a106a328.svg{% endcapture %}
  {% when 'NC' %}
    {% capture currency_flag %}53a8a7d8c53d71036c24aebb45e0192f98cad78b4ea3cfdeb695bd2f9bf2b7f5.svg{% endcapture %}
  {% when 'NE' %}
    {% capture currency_flag %}36d7acf7411e112f62f261fd0ada6e4fe2852220f0725a0b9bd241c6427ba102.svg{% endcapture %}
  {% when 'NU' %}
    {% capture currency_flag %}db5e3a651217c53390bfe788b80f45655963548116ec1be07e6e244e14d6ff50.svg{% endcapture %}
  {% when 'NF' %}
    {% capture currency_flag %}ef8050df1c5503e0f46b958665aa882c4e248361da05bb62c65a6b45d4dfc5f7.svg{% endcapture %}
  {% when 'OM' %}
    {% capture currency_flag %}41dfd9437c3b7f4980b9e2e3eddd8713dfe1c7562d9cb5d3866ac35cf6f63637.svg{% endcapture %}
  {% when 'PK' %}
  {% capture currency_flag %}06dc0dc5fb06b7cfb62f90ad1adc1165.svg{% endcapture %}
  {% when 'PA' %}
  {% capture currency_flag %}d6618ed0765d18ae8f84e5e9f388d8a5.svg{% endcapture %}
  {% when 'PG' %}
  {% capture currency_flag %}faff05a2a1001cb07c24eb56cae8c063.svg{% endcapture %}
  {% when 'PY' %}
  {% capture currency_flag %}8d63b2cd6eb952ab13a805621e6f88fd.svg{% endcapture %}
  {% when 'PE' %}
  {% capture currency_flag %}7a01283647bba9757de11562ec03a6df.svg{% endcapture %}
  {% when 'PH' %}
  {% capture currency_flag %}f1f1be0826a18590542cda4ada4faa44.svg{% endcapture %}
  {% when 'PL' %}
  {% capture currency_flag %}965125896e906dc4ccbf65fa398c386c.svg{% endcapture %}
  {% when 'PF' %}
    {% capture currency_flag %}fbba11f866a804ed28eca7e76809a99c573e17ae4fcd615ddb203f8f12337f62.svg{% endcapture %}
  {% when 'PS' %}
    {% capture currency_flag %}d8ea30bda6781315792da529529fbd3d6b983626ae3daa997f401cbb8e83e3a7.svg{% endcapture %}
  {% when 'PN' %}
    {% capture currency_flag %}e9b8a86979dffde4bda844f1ce266638eef8756e9528d9d929e35a002db19b8f.svg{% endcapture %}
  {% when 'PT' %}
    {% capture currency_flag %}a4d2c59dce97b830609fd7ebe6422a4eba9b20a47ecb369993c1854dd84e9bfb.svg{% endcapture %}
  {% when 'PM' %}
    {% capture currency_flag %}53a8a7d8c53d71036c24aebb45e0192f98cad78b4ea3cfdeb695bd2f9bf2b7f5.svg{% endcapture %}
  {% when 'QA' %}
  {% capture currency_flag %}abbb13d0d51be956a943914ee3a0a6bc.svg{% endcapture %}
  {% when 'RU' %}
  {% capture currency_flag %}9c1a810d3504219350bc861c006d1e7c.svg{% endcapture %}
  {% when 'RO' %}
  {% capture currency_flag %}f95d05d037cc37383722834b655b6f9f.svg{% endcapture %}
  {% when 'RW' %}
  {% capture currency_flag %}e529cb3d49f79808ecfbddc4e5d1f457.svg{% endcapture %}
  {% when 'RS' %}
  {% capture currency_flag %}7117c47434af50dfbd2498badda58072.svg{% endcapture %}
  {% when 'RE' %}
    {% capture currency_flag %}53a8a7d8c53d71036c24aebb45e0192f98cad78b4ea3cfdeb695bd2f9bf2b7f5.svg{% endcapture %}
  {% when 'SG' %}
  {% capture currency_flag %}e6485856d9a242f47cbc1f396429aa7c.svg{% endcapture %}
  {% when 'SR' %}
  {% capture currency_flag %}7a7a2547a69f5a2da65897df1951cb48.svg{% endcapture %}
  {% when 'ST' %}
  {% capture currency_flag %}6a3ec4ae331b085d165347097f1b0038.svg{% endcapture %}
  {% when 'ST' %}
  {% capture currency_flag %}6a3ec4ae331b085d165347097f1b0038.svg{% endcapture %}
  {% when 'SA' %}
  {% capture currency_flag %}67184cf8efa28372413ddf6d07294752.svg{% endcapture %}
  {% when 'SC' %}
  {% capture currency_flag %}b39c28eca8cbd96e1dfec9fe6aab714c.svg{% endcapture %}
  {% when 'SL' %}
  {% capture currency_flag %}e78c185acfd3ab1ecee2feeb8235ae34.svg{% endcapture %}
  {% when 'SB' %}
  {% capture currency_flag %}7c461ab0cc6c4fc3c3c48de444647369.svg{% endcapture %}
  {% when 'SH' %}
  {% capture currency_flag %}45e309bf03d453a29c9c4a898cb380b1.svg{% endcapture %}
  {% when 'SZ' %}
  {% capture currency_flag %}a1d3c785a2bb91230eb39fd2e3a62328.svg{% endcapture %}
  {% when 'SE' %}
  {% capture currency_flag %}637920f30b717c7f4e826a4bb63bb552.svg{% endcapture %}
  {% when 'SV' %}
    {% capture currency_flag %}68f582191847b1b20b719dda9e22b8d6f85619f4ae8f4cce746a86010916a4ba.svg{% endcapture %}
  {% when 'SM' %}
    {% capture currency_flag %}95587f6a30f4b3e8438aaae430f46388ebdbed490bac20192f03bf0100b1d2dc.svg{% endcapture %}
  {% when 'SN' %}
    {% capture currency_flag %}0fb14fcca74b1a937d3a0cc8212cd1aff8e7ea84d57d2e5531e77aea5eb8e5ca.svg{% endcapture %}
  {% when 'SX' %}
    {% capture currency_flag %}a8ae18ed3b36a39704798db94ace83faa003e65542fed63e8450428f2a559973.svg{% endcapture %}
  {% when 'SK' %}
    {% capture currency_flag %}7b588350e9e58c72c948ad3d24c2e748aab007a0e07a7b672073ad3a58d5991c.svg{% endcapture %}
  {% when 'SI' %}
    {% capture currency_flag %}c1e369149457c0ca83b9a56607aa47b9c227b1468690a5b34e549ce027d8d084.svg{% endcapture %}
  {% when 'SO' %}
    {% capture currency_flag %}78b319260074f3680d5c056406eae9fa4f641c106c7f83250f847c94ae09f398.svg{% endcapture %}
  {% when 'SS' %}
    {% capture currency_flag %}1a95765327fca20b6052c91127f66096ca37213d1cd318f654802bb53c1f2f9d.svg{% endcapture %}
  {% when 'SD' %}
    {% capture currency_flag %}9fdbc80d9c14c98b5326e45e2e54ee336caa91935f318b6658fa02bd455e28f4.svg{% endcapture %}
  {% when 'SJ' %}
    {% capture currency_flag %}0cc92b26396ffd50b4c4e7aaafc1e1bbdf362cb56776721cf33053b936edd1da.svg{% endcapture %}
  {% when 'TW' %}
  {% capture currency_flag %}cd9a4bcf3c00102a079f3fe1c59e9454.svg{% endcapture %}
  {% when 'TR' %}
  {% capture currency_flag %}a318ff59f0ddc17d0800cc076df547c1.svg{% endcapture %}
  {% when 'TJ' %}
  {% capture currency_flag %}911060413e91f0bd8eec4d463c00f9ec.svg{% endcapture %}
  {% when 'TZ' %}
  {% capture currency_flag %}7abe9623d3d4b3daae448dd4653a9056.svg{% endcapture %}
  {% when 'TH' %}
  {% capture currency_flag %}b1c0fbea97239cbc138a8757be40c215.svg{% endcapture %}
  {% when 'TO' %}
  {% capture currency_flag %}94f50180f8c9decd9f8da97b6484c715.svg{% endcapture %}
  {% when 'TT' %}
  {% capture currency_flag %}13ab81fcc7ba1c75fbadd333812985ca.svg{% endcapture %}
  {% when 'TD' %}
    {% capture currency_flag %}cf60b0660fef033f1e1c42303e90cd49c31595c755a9885499a0610b55cf32db.svg{% endcapture %}
  {% when 'TF' %}
    {% capture currency_flag %}55dc107a4209184e95c703533b31829b893f64e53c74c1cb79574a02c34da51b.svg{% endcapture %}
  {% when 'TL' %}
    {% capture currency_flag %}837debc62dc618435c84c8bde4e872ae2ebdba01c724305e00b839d7b50a4e77.svg{% endcapture %}
  {% when 'TG' %}
    {% capture currency_flag %}3d32336a265064b50f45029e913cca70087811aca9b4043d94c2aa6909ddf403.svg{% endcapture %}
  {% when 'TK' %}
    {% capture currency_flag %}b6205907661b7a941885e31ee45814872e50c3c3d838de0071d1ba96ac87d017.svg{% endcapture %}
  {% when 'TN' %}
    {% capture currency_flag %}f5e2496d972fbcef3dfd2c248ea9651d491760df9bd5aa128877f69e80b7f1bd.svg{% endcapture %}
  {% when 'TM' %}
    {% capture currency_flag %}d99121de0f55a3989cb2217548d12b0797c8d193799fcc0fdd2ac8f933ca189b.svg{% endcapture %}
  {% when 'TC' %}
    {% capture currency_flag %}2e92bdaae7481ce4fa86a7252290875e0c552c13a57b1b818278b10e38f796b4.svg{% endcapture %}
  {% when 'TV' %}
    {% capture currency_flag %}55aa0b774ac7390090cd52e64477bee808cc16ccfa64a2ed00e9c3dd0443741d.svg{% endcapture %}
  {% when 'US' %}
  {% capture currency_flag %}7f0109d94c888a663452af48e2d324d7.svg{% endcapture %}
  {% when 'UG' %}
  {% capture currency_flag %}1c9ac508507da9f5143f13b686b02998.svg{% endcapture %}
  {% when 'UA' %}
  {% capture currency_flag %}23f6d67ac886d000a5735357ebdcbe91.svg{% endcapture %}
  {% when 'UY' %}
  {% capture currency_flag %}da361819d298366b78d93977fe54567b.svg{% endcapture %}
  {% when 'UZ' %}
  {% capture currency_flag %}183fa878c9e058b287c7c3752d145c3b.svg{% endcapture %}
  {% when 'UM' %}
    {% capture currency_flag %}844b1647d2e684258bd30767635ede98fb2d6aeed603fb39c7c18ac8576526ac.svg{% endcapture %}
  {% when 'VU' %}
  {% capture currency_flag %}e158d1a9c33dbda0c7cde5b522cb64c2.svg{% endcapture %}
  {% when 'VN' %}
  {% capture currency_flag %}3baca05a6f5d1e7682c2b7c53f1e69db.svg{% endcapture %}
  {% when 'VG' %}
    {% capture currency_flag %}514408be45ce848d3cc478dd1bf5ce742afe32aa2fcc5447a14f9adce149af90.svg{% endcapture %}
  {% when 'VC' %}
    {% capture currency_flag %}cf17da5b52312832b7e062619785d525ea66bc0e4539ce3364d2e0577d44a90f.svg{% endcapture %}
  {% when 'VA' %}
    {% capture currency_flag %}f9ac43f75d98139207b4c4eb5206f20d8ef1096a7c8a60ef9d6b00ce6a02c1e1.svg{% endcapture %}
  {% when 'VE' %}
    {% capture currency_flag %}d2a175b7199cf1ac1054d668f9c1236c2cc37819f6c72e07d7fdcc472d48a2df.svg{% endcapture %}
  {% when 'WS' %}
  {% capture currency_flag %}7b3c6c76864019f9d4c9874bd6c5bd82.svg{% endcapture %}
  {% when 'WF' %}
    {% capture currency_flag %}10d09cbc2a8b2219da141bbacc940ec8f45a55b36b0dd8f92d07c6c93331f85f.svg{% endcapture %}
  {% when 'XA' %}
  {% capture currency_flag %}4714259873a1c6de6957c5a3c61bf7b4.svg{% endcapture %}
  {% when 'XO' %}
  {% capture currency_flag %}4714259873a1c6de6957c5a3c61bf7b4.svg{% endcapture %}
  {% when 'XP' %}
  {% capture currency_flag %}4714259873a1c6de6957c5a3c61bf7b4.svg{% endcapture %}
  {% when 'XC' %}
  {% capture currency_flag %}c5e533d636929ef7f1ac7ceaeba33815.svg{% endcapture %}
  {% when 'XK' %}
    {% capture currency_flag %}ec0bd77e5e78c196b045ef79bf66b099ff39a6e8abc132a08b6928b00d6958d5.svg{% endcapture %}
  {% when 'YE' %}
  {% capture currency_flag %}e867ba4b3304d58512c3281004e46ba9.svg{% endcapture %}
  {% when 'YT' %}
    {% capture currency_flag %}53a8a7d8c53d71036c24aebb45e0192f98cad78b4ea3cfdeb695bd2f9bf2b7f5.svg{% endcapture %}
  {% when 'ZA' %}
  {% capture currency_flag %}898f31f51a4effc0fabe5a779a6420c6.svg{% endcapture %}
  {% when 'ZM' %}
  {% capture currency_flag %}a34f2983e214a3615f6a02bffc1a6e71.svg{% endcapture %}
  {% when 'ZW' %}
    {% capture currency_flag %}d11aa9b2daf3f0c897971c31e519dbca8cff20c31c95ae3301f709a040642d3c.svg{% endcapture %}
  {% else %}
  {% capture currency_flag %}0a3a6a4d64cf56f43256eb316fcc5d0e.svg{% endcapture %}

  {% endcase %}
  <span class="img-icon-flag">
    <img src="https://cdn.shopify.com/shopifycloud/web/assets/v1/{{currency_flag}}" width="35" height="auto" alt="{{ currency_iso }}" loading="lazy"/>
  </span>
