<svg width="20px" height="20px" viewBox="0 0 20 20" class="icon icon-star" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>icon_star</title>
  <g id="Archer-Themes" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Product-Page,-Large:-Size-Dropdown" transform="translate(-862.000000, -73.000000)" fill="#374957">
          <g id="Buy-Tools" transform="translate(756.000000, 73.000000)">
              <g id="Star-Rating" transform="translate(5.000000, 0.000000)">
                  <path d="M103.204398,7.94562224 L106.838361,11.4879993 C107.00335,11.6487745 107.078748,11.8807343 107.039718,12.1075937 L106.181955,17.1098098 L110.674125,14.7480772 C110.878143,14.6409677 111.121857,14.6409677 111.325875,14.7480772 L115.817824,17.1098098 L114.96006,12.1075937 C114.92103,11.8805126 114.996428,11.6487745 115.161417,11.4877775 L118.795381,7.94540048 L113.773206,7.21559186 C113.545238,7.18232803 113.348094,7.03929352 113.246085,6.8326142 L111.000111,2.28167757 L108.753915,6.83283596 C108.651906,7.03951528 108.454984,7.18254979 108.226794,7.21581362 L103.204398,7.94562224 Z M116.747659,19.0894517 C116.636114,19.0894517 116.524347,19.0628406 116.421673,19.0089532 L111.000111,16.1586857 L105.578327,19.009175 C105.342375,19.1326947 105.056528,19.1125146 104.840979,18.9559528 C104.625429,18.799391 104.517432,18.5339456 104.562449,18.271383 L105.59762,12.2339963 L101.21145,7.95804074 C101.020516,7.771985 100.951992,7.49367756 101.034265,7.24042886 C101.116537,6.98695841 101.335635,6.80223323 101.599307,6.76386894 L107.66153,5.88304249 L110.372311,0.390073947 C110.490287,0.151239586 110.733557,0 111.000111,0 C111.266665,0 111.509935,0.151239586 111.62791,0.390073947 L114.338691,5.88304249 L120.400693,6.76386894 C120.664365,6.80223323 120.883241,6.98695841 120.965735,7.24042886 C121.048008,7.49367756 120.979484,7.771985 120.78855,7.95804074 L116.40238,12.2335528 L117.437772,18.2709395 C117.48279,18.5337238 117.374793,18.7989475 117.159243,18.9557311 C117.037054,19.0444346 116.892689,19.0894517 116.747659,19.0894517 L116.747659,19.0894517 Z" id="icon_star"></path>
              </g>
          </g>
      </g>
  </g>
</svg>
