<div style="display: flex; height: 100vh; margin: 0; font-family: Arial, sans-serif; font-size: 15px;">
  <div style="width: 40%; background-color: #134ca5; display: flex; justify-content: center; align-items: center;">
    <img src="https://salesrepapp.azurewebsites.net/assets/img/backofficeimg.png" alt="Dashboard Image" style="max-width: 80%; border-radius: 10px;">
  </div>
  <div style="width: 60%; padding: 40px;">
    <h2 style="font-size: 24px; font-weight: bold; color: #333; margin-bottom: 20px;">New dashboard is ready!</h2>
    <div style="background: #eaf4ff; padding: 15px; border-radius: 5px; margin-bottom: 25px; border-left: 5px solid #0a57a6;">
      <p style="margin-bottom: 15px;">⚠️ Your current version of the dashboard is outdated.</p>
    </div>
    
    <ul style="margin-bottom: 25px;">
      <li style="margin-bottom: 10px;">Better interface</li>
      <li style="margin-bottom: 10px;">Faster performance</li>
      <li style="margin-bottom: 10px;">Bug fixes</li>
    </ul>

    <p style="margin-bottom: 10px;">1. Click the <b>'Visit'</b> button below to access the portal.</p>
    <p style="margin-bottom: 10px;">2. Your login details have been sent to your email. Please check your spam/junk folder.</p>
    <p style="margin-bottom: 10px;">
      3. If you can't find the email, go to the portal, click
      <b>'Forgot Password'</b>, enter your email ID, and you'll receive the
      login details via email.
    </p>
    <p style="margin-bottom: 10px;">
      For any support, please contact us at
      <a href="mailto:support@chiefss.com">support@chiefss.com</a>
    </p>
    <hr style="margin: 20px 0px;">
    <a href="{{ shop.url }}/pages/rep-login" class="visit-button" style="float:right ;display: inline-block; padding: 10px 20px; background: #0a57a6; color: white; text-decoration: none; border-radius: 5px;">Visit Portal</a>
  </div>
</div>
