.section-collage {
  display: flex;
  gap: 80px;
  align-items: center;
}

.section-collage--reverse {
  flex-direction: row-reverse;
}

.collage__content {
  flex: auto;
  width: 40%;
}

.collage__content h2 {
  margin-bottom: 0.5rem;
}

.collage__content .rte {
  font-size: calc(1.125rem * var(--font-section-scale, 1));
}

.collage__content .btn {
  font-size: calc(var(--font-button-scale) * 1.125rem);
}

.image-collage-wrap {
  width: 100%;
  max-width: 60%;
  position: relative;
}

.image-collage-wrap:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.image-collage-wrap--2 {
  margin: 21px 0 46px;
}

.image-collage-wrap--2:after {
  padding-bottom: 60%;
}

.image-collage-wrap--3:after {
  padding-bottom: 83%;
}

.image-collage-wrap--4:after {
  padding-bottom: 100%;
}

.image-collage {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
}

.image-collage-wrap--2 .image-collage {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.image-collage-wrap--3 .image-collage {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.image-collage-wrap--4 .image-collage {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.item {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
}

.image-collage-wrap--2 .item1 {
  grid-column: 1/5;
  grid-row: 1/5;
  transform: rotate(-8deg);
}

.image-collage-wrap--2 .item2 {
  grid-column: 5/9;
  grid-row: 1/5;
  transform: rotate(10deg);
  transform: rotate(6deg) translateY(30px);
}

.image-collage-wrap--3 .item1 {
  grid-column: 1/6;
  grid-row: 1/7;
  /* transform: rotate(-10deg); */
}

.image-collage-wrap--3 .item2 {
  grid-column: 7/12;
  grid-row: 1/7;
  margin-top: 14px;
  /* transform: translateY(14px); */
  /* transform: rotate(3deg); */
}

.image-collage-wrap--3 .item3 {
  grid-column: 4/10;
  grid-row: 3/10;
}

.image-collage-wrap--4 .item1 {
  grid-column: 1/5;
  grid-row: 2/7;
}

.image-collage-wrap--4 .item2 {
  grid-column: 7/11;
  grid-row: 1/6;
}

.image-collage-wrap--4 .item3 {
  grid-column: 7/12;
  grid-row: 7/11;
}

.image-collage-wrap--4 .item4 {
  grid-column: 4/9;
  grid-row: 3/9;
}

.image-collage__img {
  border-radius: var(--border-radius-container);
  box-shadow: 0 1px 3px #00000080;
  overflow: hidden;
  background: rgb(var(--color-background));
  z-index: 1;
}

.image-collage__img a {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.6s ease-in-out;
}

.image-collage__img a:hover {
  transform: scale(1.1);
}

.image-collage__img.scene-parallax {
  position: relative;
  will-change: transform;
  transform: translateY(var(--translateY));
}

.image-collage__img .media {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .section-collage {
    flex-direction: column;
    gap: 30px;
  }

  .collage__content {
    text-align: center;
    width: auto;
  }

  .image-collage-wrap {
    max-width: 560px;
  }
}

@media screen and (max-width: 768px) {
  .section-collage {
    gap: 26px;
  }

  .collage__content .rte {
    font-size: calc(0.9375rem * var(--font-section-scale, 1));
  }

  .collage__content .btn {
    font-size: calc(var(--font-button-scale) * 1rem);
  }

  .image-collage-wrap {
    max-width: none;
  }

  .image-collage__img {
    border-radius: calc(8px * var(--border-radius));;
  }
}

/*list icon*/

.list-icon {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-icon__item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.list-icon__content h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.list-icon__content p {
  margin: 4px 0 0;
  font-size: 14px;
}
.media-sec {
    background-color: #F3F4F6;
}

.media-sec .collage__content h2.h0 {
    font-size: 32px;
    text-transform: math-auto;
    font-weight: 600;
    line-height: 40px;
}

.media-sec .collage__content p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
}

.media-sec .collage__content  .list-icon__content {
    width: 85%;
}

.list-icon__icon {
    width: 30px;
}

.list-icon__icon img {
    width: 100%;
}

.list-icon__item h4 {
    text-transform: math-auto;
}
.media-sec  .collage__content .rte.rte-setting {
    margin: 30px 0;
}
.media-sec  .collage__content a.btn:after {
    background-color: #182a30;
}

.media-sec  .collage__content a.btn.btn--secondary:after {
    background-color: transparent;
    border-color: #182a30;
}

.media-sec  .collage__content a.btn.btn--secondary {
    color: #182a30;
}
.media-sec  .collage__content .buttons {
    display: flex;
    margin-top: 70px;
    gap: 10px;
}

.media-sec  .collage__content .buttons a.btn {
    font-size: 14px;
    padding: 17px 16px;
}
.media-sec .section-collage {
    gap: 55px;
}

@media(max-width:1199px){
.media-sec .section-collage {
    flex-direction: row-reverse;
}
.image-collage-wrap {
    max-width: 50%;
}
.media-sec .collage__content {
    max-width: 50%;
    text-align:left;
}
}

@media(max-width:991px){
.media-sec .collage__content h2.h0 {
    font-size: 28px;
    line-height: 36px;
}
.media-sec .section-collage {
    gap: 35px;
}
}
@media(max-width:767px){
.media-sec .section-collage {
    flex-wrap: wrap;
}
.image-collage-wrap {
    max-width: 100%;
}
.media-sec .collage__content {
    max-width: 100%;
}
.media-sec .collage__content .buttons {
    margin-top: 40px;
    flex-wrap: wrap;
}
}