.site-footer {
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  position: relative;
}

.site-footer__top {
  padding: 2.8125rem 0 3.4375rem 0;
  position: relative;
}

.footer__custom-decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-footer__top .page-width {
  position: relative;
  z-index: 1;
}

.site-footer.handprints .site-footer__top {
  background-image: url('handprint.png');
  background-size: cover;
}

.site-footer__content {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 80px;
}

.footer__follow-on-shop {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  margin-top: 0.375rem;
}

.site-footer .h4 {
  color: rgb(var(--color-foreground));
  margin-bottom: 1.125rem;
}

.site-footer__item {
  display: flex;
  width: 100%;
  /* flex: 1 1 100%; */
  margin-bottom: 0;
}

.site-footer__linklist-item {
  display: block;
  padding-bottom: 0.625rem;
  line-height: 1.1;
}

.site-footer__linklist-item:last-of-type {
  padding-right: 0;
}

.site-footer__linklist.list--inline > li {
  margin-right: 20px;
}

.site-footer__item:last-child .site-footer__item-inner {
  width: 100%;
  text-align: right;
}

.site-footer a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-body-family);
  font-weight: 300;
  font-size: 0.8125rem;
  color: rgb(var(--color-foreground));
  white-space: nowrap;
}

.site-footer p,
.site-footer p a {
  margin: 0;
  font-weight: 300;
  color: rgb(var(--color-foreground));
  line-height: 1.6;
  font-size: 0.9375rem;
}

.site-footer__rte--text {
  margin-top: 0.625rem;
}

.site-footer__rte--text p,
.site-footer__rte--text p a {
  line-height: 1.25;
}

.site-footer__bottom__toys {
  content: "";
  position: absolute;
  top: -88px;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .site-footer__content {
    flex-wrap: nowrap;
  }

  .site-footer__centered--single-block {
    width: 75%;
    margin: 0 auto;
  }

  .site-footer__item {
    flex: 1;
  }

  .site-footer__item:last-child {
    flex: auto;
  }

  .site-footer__item:last-of-type {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .site-footer__content {
    gap: 55px;
  }

  .site-footer__linklist-item {
    padding-bottom: 1.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__follow-on-shop {
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .site-footer.handprints .site-footer__top {
    background-image: url('handprint-mobile.png');
  }

  .site-footer__content {
    padding: 0 18px;
    gap: 0;
  }

  .site-footer__item:last-of-type {
    margin-bottom: 0;
  }

  .site-footer__linklist.list--inline > li {
    display: block;
  }

  .site-footer__item--center {
    justify-content: center;
  }

  .site-footer__item--center > * {
    text-align: center;
  }

  .site-footer__item .site-footer__item-inner--text {
    text-align: center;
    margin-top: 3.6875rem;
  }

  .site-footer__item-inner {
    width: 100%;
    text-align: center;
  }

  .site-footer__item:last-child .site-footer__item-inner {
    text-align: center;
  }

  .site-footer.site-footer--no-margin {
    margin-top: 0;
  }

  .site-footer .h4.small--hide {
    display: none;
  }

  .site-footer .h4 {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }

  .site-footer__content p {
    padding-bottom: 10px;
  }

  .site-footer__linklist-item {
    padding: 12px 0;
  }
}

/*new footer css*/
footer.site-footer {
    background-color: #182a30;
    padding: 100px 0 40px;
}
footer.site-footer h4.h4 {
    color: #fff;
}
footer.site-footer a {
    color: #fff !important;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 100;
}
footer.site-footer p.site-footer__rte {
    color: #fff;
}
footer.site-footer .footer-brand p {
    color: #fff;
    line-height: 30px;
}
footer.site-footer ul.footer-menu li {
    padding: 5px 0;
}
.site-footer__item:last-of-type {
    width: 22% !important;
    max-width: 22% !important;
}
.site-footer__item.site-footer__item--one-third {
    width: 33%;
    max-width: 33%;
}
.site-footer__content {
    justify-content: space-between;
}

footer.site-footer h4.footer-title {
    color: #fff;
    text-align: left;
}
footer.site-footer form input {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 9px;
    color: #000 !important;
}
.site-footer__item.site-footer__item--one-third:nth-child(2) {
    max-width: 50%;
    width: 50%;
}
footer.site-footer form input::placeholder {
    opacity: 1;
    color: #000;
}
footer.site-footer form button {
    width: 70%;
    padding: 10px 0;
    background-color: transparent;
    border: 1px solid #ddd;
    color: #fff;
    margin-top: 12px;
}
.footer-newsletter {
    text-align: left;
}
footer.site-footer ul.list--inline.site-footer__social-icons.social-icons.site-footer__icon-list {
    text-align: left;
    margin-top: 20px;
}
.site-footer__item-inner .footer-brand {
    text-align: center;
}
.site-footer__item-inner .footer-brand p {
    margin-top: 40px;
}
.footer-brand img {
    width: 230px;
}
.site-footer__bottom {
    background-color: #182a30;
}
.site-footer__bottom p {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}
.site-footer__bottom p a {
    color: #fff !important;
}
.site-footer__bottom {
    padding-bottom: 100px;
}
.site-footer__item:nth-child(2) {
    max-width: 10%;
}

.site-footer__item:nth-child(3) {
    max-width: 12%;
}
.site-footer__item-inner h4.footer-title {
    font-weight: 100;
}
.subfooter-section.border-alt-background {
    --border-color: unset;
}

@media(max-width:991px){
 footer.site-footer .footer-brand p {
    line-height: 20px;
} 
.site-footer__item:nth-child(2) {
    max-width: 15%;
}
.site-footer__item:nth-child(3) {
    max-width: 16%;
}
}

@media(max-width:767px){
 footer.site-footer .footer-brand p {
    line-height: 20px;
} 
.site-footer__item:nth-child(2) {
    max-width: 100%;
    margin-top: 20px;
}
.site-footer__item:nth-child(3) {
    max-width: 100%;
}
.site-footer__item:last-of-type {
    width: 100%!important;
    max-width: 100%!important;
    margin-top: 20px;
}
.site-footer__bottom {
    padding-bottom: 20px;
}
footer.site-footer {
    padding: 40px 0 40px;
}
footer.site-footer h4.footer-title {
    text-align: center;
}
footer.site-footer ul.list--inline.site-footer__social-icons.social-icons.site-footer__icon-list {
    text-align: center;
}
footer.site-footer form button {
    width: 100%;
}
.site-footer__bottom p {
    text-align: center;
    line-height: 24px;
}
header.header.header--middle-left.header--has-menu {
    padding: 15px 0;
}
}
